option_settings:
  "aws:elasticbeanstalk:customoption":
     IAMInstanceProfileARN                   : arn:aws:iam::472821263165:instance-profile/AdminAccessRole
     SessionHashKeyName                      : username
     SessionHashKeyType                      : S
     SessionReadCapacityUnits                : 1
     SessionReadCapacityUnitsAlarmThreshold  : 240
     SessionWriteCapacityUnits               : 1 
     SessionWriteCapacityUnitsAlarmThreshold : 240
     SessionThrottledRequestsThreshold       : 1
     SessionAlarmEmail                       : nobody@amazon.com